<form class="login-form">
    <p class="login-text">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x"></i>
        </span>
    </p>
    <h2 style="color: white; text-align: center; padding: 15px 0; font-weight: 700;">REGISTER</h2>
    <input type="email" class="login-username" [(ngModel)]="correo" autofocus="true" required="true" placeholder="Email" name="correo"/>
    <p [(ngModel)]="validarCorreo" name="validarCorreo" style="color: red;">{{validarCorreo}}</p>
    <input type="password" class="login-password" [(ngModel)]="clave" required="true" placeholder="Password" name="clave" required/>
    <p [(ngModel)]="validarClave" name="validarClave" style="color: red;">{{validarClave}}</p>
    <p [(ngModel)]="validarUser" name="validarUser" style="color: red;">{{validarUser}}</p>
    <input type="submit" (click)="register()" name="Register" value="Register" class="login-submit" />
    </form>
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div> 




